option_settings:
  # Enhanced Health reporting
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    ConfigDocument: 
      Version: 1
      CloudWatchMetrics:
        Instance:
          - CPUUtilization
          - MemoryUtilization
          - NetworkIn
          - NetworkOut
        Environment:
          - InstancesSevere
          - InstancesDegraded
          - PendingRequestsCount
          - RequestCount
          - LatencyP99.9
          - HTTP4xx
          - HTTP5xx

  # Configure CloudWatch Logs
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
